---
import Layout from "../layouts/Layout.astro"
---
<Layout>
   <section>
        <img src="" alt="">
        <div>
            <h2></h2>
            <p></p>
        </div>
   </section>

   <section>
        <div>
            <h1></h1>
            <button></button>
        </div>
        <div>
            <div>
                <h3></h3>
                <img src="" alt="">
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div>
        </div>
   </section>
</Layout>
