---
import Layout from "../layouts/Layout.astro"
---
<Layout>
   <section>
        <img src="" alt="">
        <div>
            <h2>THE LEADER IN INTERACTIVE VR</h2>
            <p></p>
        </div>
   </section>

   <section>
        <div>
            <h1>OUR CREATION</h1>
            <button>SEE ALL</button>
        </div>
        <div>
            <div>
                <h3></h3>
                <img src="" alt="">
            </div>
            <div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div><div>
                <h3></h3>
                <img src="" alt="">
            </div>
        </div>
   </section>
</Layout>
