---
import Layout from "../layouts/Layout.astro"
import Tarjetas from "../components/Tarjetas.astro"
---
<Layout>
   <section>
        <img src="" alt="">
        <div>
            <h2>THE LEADER IN INTERACTIVE VR</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa molestiae quos animi praesentium earum, dolor esse vel, quas id quaerat atque dolorum ipsam repudiandae illum cupiditate molestias facilis. Unde deleniti quod perferendis provident cum veniam, aliquid harum suscipit temporibus ex optio esse error! At maiores rerum in harum minus voluptates quasi aut ratione illum consequatur, aperiam atque assumenda natus!</p>
        </div>
   </section>

   <section>
        <div>
            <h1>OUR CREATION</h1>
            <button>SEE ALL</button>
            <Tarjetas />
        </div>
   </section>
</Layout>
