---
import { Icon } from 'astro-icon/components'
---
		<footer>
			<div>
				<p></p>
				<div>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>
			</div>
			<div>
				<div>
					<Icon name="facebook"/>
					<Icon name="twitter"/>
					<Icon name="pinterest"/>
					<Icon name="instagram"/>
				</div>
				<p></p>
			</div>
		</footer>