---
import { Icon } from 'astro-icon/components'
---
		<footer>
			<div class="left">
				<p>WorldStudios</p>
				<div class="linkFooter">
					<a href="">events</a>
					<a href="">products</a>
					<a href="">world</a>
				</div>
			</div>
			<div class="right">
				<div class="right-icons">
					<Icon name="facebook" size={27}/>
					<Icon name="twitter" size={27}/>
					<Icon name="pinterest" size={27}/>
					<Icon name="instagram" size={27}/>
				</div>
				<p>2026 WorldStudios, All rights reserved</p>
			</div>
		</footer>

        <style>
            footer{
                color: white;
                background-color: black;
                padding:30px 170px;                
                display: flex;
                justify-content: space-between;
				align-items: center;
            }

			.left, .right{
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			.left p{
				font-size: 20px;
				font-weight: 800;
			}

			.right-icons{
				display: flex;
				gap: 20px;

			}

			.right p{
				color: rgb(156, 156, 156);
			}

            .linkFooter a{
                color: white;
				margin-right: 20px;
            }
        </style>