---
import { Icon } from 'astro-icon/components'
---
		<footer>
			<div>
				<p>WorldStudios</p>
				<div>
					<a href="" class="linkFooter">events</a>
					<a href="">products</a>
					<a href="">world</a>
				</div>
			</div>
			<div>
				<div>
					<Icon name="facebook"/>
					<Icon name="twitter"/>
					<Icon name="pinterest"/>
					<Icon name="instagram"/>
				</div>
				<p>2026 WorldStudios, All rights reserved</p>
			</div>
		</footer>

        <style>
            footer{
                color: white;
                background-color: black;
                padding:10px 30px 10px 30px;                
                display: flex;
                justify-content: space-between;
            }

            .linkFooter{
                color: white;
            }
        </style>