<div>
    <img src="/images/desktop/image-deep-earth.jpg" alt="">
</div>

<style>

    div{
        min-width: 300px;
        flex: 1 1 0;
        height: 500px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>