---
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>WorldStudios</title>
	</head>
	<body>
		<nav>
			<div>
                <p>WorldStudios</p>
			</div>
			<div>
				<a href="/">Home</a>
				<a href="/events">Events</a>
				<a href="/products">Products</a>
			</div>
		</nav>
		<slot />
		<footer>
			<div>
				<p></p>
				<div>
					<a href=""></a>
					<a href=""></a>
					<a href=""></a>
				</div>
			</div>
			<div>
				<div>
					<Icon name="facebook"/>
					<Icon name="twitter"/>
					<Icon name="pinterest"/>
					<Icon name="instagram"/>
				</div>
				<p></p>
			</div>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
